<div *ngIf="currentRound > -1">
	<h3>Current round {{currentRound}}</h3>
	<div class="mat-elevation-z8">
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource">
		
				<!-- Venue Column -->
				<ng-container matColumnDef="venue" *ngIf="tournament.type == 'offline'">
					<th mat-header-cell *matHeaderCellDef> Venue </th>
					<td mat-cell *matCellDef="let element"> {{element.venue ? element.venue.name : '-'}} </td>
				</ng-container>
				
				<!-- Group Column -->
				<ng-container matColumnDef="group">
					<th mat-header-cell *matHeaderCellDef> Group </th>
					<td mat-cell *matCellDef="let element"> {{element.bracket + 1}} </td>
				</ng-container>
		
				<!-- vs Column -->
				<ng-container matColumnDef="vs">
					<th mat-header-cell *matHeaderCellDef> vs </th>
					<td mat-cell *matCellDef="let element"> {{element.vs}} </td>
				</ng-container>
		
				<!-- Status Column -->
				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef> Status </th>
					<td mat-cell *matCellDef="let element"> {{element.status | matchStatus}} </td>
				</ng-container>
		
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>
</div>
