<div class="hero-container">
  <div class="hero-image">

  </div>
  <mat-card class="hero-text mat-elevation-z6">
    <mat-card-title>Create and manage tournaments</mat-card-title>
    <mat-card-content class="hero-button-container">
      <p>esportee is all you need to create, manage and run your esports tournament!</p>
      <div>
        <button class="hero-signup-link" mat-raised-button color="primary" routerLink="/signup" type="submit" name="signup"><b>Sign up for
          free</b>
        </button>
      </div>
      <div class="hero-login-link">
        <a routerLink="/login">or log in</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
